/* h2 {
    margin-bottom: 10px;
}

.input-group {
    justify-content: space-between;
    padding: 0;
}

input {
    height: 36px;
    width: 250px;
    border: none;
    padding-bottom: 5px;
    padding-left: 10px;
}

.btn {
    height: 37px;
} */
