    /* global__style*/
    
    @font-face {
        font-family: "Montserrat";
        src: local("MontserratExtraBold"), url("../fonts/AnyConv.com__Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/AnyConv.com__Montserrat-ExtraBold.woff") format("woff");
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: "Montserrat";
        src: local("MontserratBold"), url("../fonts/AnyConv.com__Montserrat-Bold.woff2") format("woff2"), url("../fonts/AnyConv.com__Montserrat-Bold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: "Montserrat";
        src: local("MontserratRegular"), url("../fonts/AnyConv.com__Montserrat-Regular.woff2") format("woff2"), url("../fonts/AnyConv.com__Montserrat-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: "Montserrat";
        src: local("MontserratSemiBold"), url("../fonts/MontserratSemiBold.woff2") format("woff2"), url("../fonts/MontserratSemiBold.woff") format("woff");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
    
    body {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
    }
    
    .container {
        max-width: 1810px;
        margin: 0 auto;
        padding: 0 20px;
        padding-bottom: 100px;
        box-sizing: border-box;
    }
    
    .list_reset {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .flex {
        display: flex;
    }
    
    .button {
        color: #fff;
        background: #FF9900;
        border: none;
        font-weight: bold;
        font-size: 23.4581px;
        line-height: 29px;
    }
    
    .h2 {
        font-weight: normal;
        font-size: 48px;
        line-height: 59px;
        color: #333;
        margin-top: 0;
        margin-bottom: 20px;
    }
    /* header__style */
    
    .header__burger__menu {
        display: none;
    }
    
    .header {
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    }
    
    .header__container {
        align-items: center;
        padding-top: 14px;
        padding-bottom: 14px;
        position: relative;
    }
    
    .header__list {
        padding-top: 1px;
    }
    
    .header__burger {
        display: none;
    }
    
    .header__img {
        width: 224px;
        height: 72px;
        margin-right: 730px;
    }
    
    .header__scan {
        
        position: absolute;
        z-index: 2;
        align-items: center;
        right: 15px;
        bottom: 20px;
        width: 539px;
        height: 60px;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
        display: flex;
        padding-left: 32px;
        justify-content: space-between;
        padding-right: 18px;
        display: none;
    }
    
    .header__scan__closed__svg {
        cursor: pointer;
    }
    
    .header__scan__input {
        border: none;
        padding-bottom: 3px;
        border-bottom: 1px solid #DCDCDC;
        width: 76%;
    }
    
    .header__scan__button {
        margin-right: 20px;
        border: none;
        background: none;
    }
    
    .header__scan__closed__svg {
        border: none;
        background: none;
        padding-left: 0;
    }
    
    .header__scan__open {
        display: flex;
    }
    
    .header__item {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #333;
        margin-right: 85px;
    }
    
    .header__link {
        color: inherit;
        text-decoration: none;
        position: relative;
        border-bottom: 2px solid transparent;
        transition-property: border-color, color;
        transition-duration: .3s;
        transition-timing-function: ease;
    }
    
    .header__link:hover {
        border-color: #FF9900;
    }
    
    .header__link:focus {
        outline: 2px solid #FF9900;
        outline-offset: 5px;
    }
    
    .header__link:active {
        color: #E1670E;
        border-color: #E1670E;
        outline: none;
    }
    
    .header__button {
        cursor: pointer;
        border: none;
        background-color: #fff;
        padding-right: 0;
    }
    
    .header__button:focus-visible {
        outline: 2px solid #FF9900;
    }
    
    .header__path,
    .header__rect {
        transition-property: stroke, fill;
        transition-duration: .3s;
        transition-timing-function: ease;
    }
    
    .header__svg:hover path {
        stroke: #FF9900;
    }
    
    .header__svg:hover rect {
        fill: #FF9900;
    }
    /* order__style */
    
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        margin-right: 10px !important;
        margin-left: 10px !important;
        background: rgba(255, 255, 255, 0.4);
    }
    
    .swiper-pagination-bullet-active {
        background: #fff;
    }
    
    .order__container {
        min-height: 620px;
        position: relative;
    }
    
    .swiper-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
    
    .swiper-background-1 {
        background-image: url(../img/order-background.jpg);
        background-position: contain;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .swiper-background-2 {
        background-image: url(../img/swiper-2.jpg);
        background-size: cover;
    }
    
    .swiper-background-3 {
        background-image: url(../img/swiper-3.jpg);
        background-size: cover;
    }
    
    .swiper-button-prev::after {
        display: none;
    }
    
    .swiper-button-next::after {
        display: none;
    }
    
    .order__text {
        padding-left: 80px;
        padding-bottom: 100px;
        padding-top: 100px;
        max-width: 837px;
        position: relative;
        z-index: 1;
    }
    
    .order__h1 {
        margin: 0;
        font-weight: 800;
        font-size: 70px;
        line-height: 85px;
        color: #fff;
    }
    
    .order__descr {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #fff;
        margin-bottom: 90px;
    }
    
    .order__button {
        padding: 24.83px 36.88px;
        cursor: pointer;
    }
    
    .order__button:hover {
        background: rgba(255, 153, 0, 0.7);
    }
    
    .order__button:focus {
        background: rgba(255, 153, 0, 0.7);
    }
    
    .order__button:active {
        background-color: #E1670E;
    }
    /* about style */
    
    .about__descr {
        max-width: 1235px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #333;
        margin-top: 0;
        margin-bottom: 50px;
    }
    
    .about__left {
        background-image: url(../img/order__left.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 868px;
        min-height: 622px;
        margin-right: 32px;
        position: relative;
    }
    
    .about__right {
        width: 870px;
    }
    
    .media-320 {
        display: none;
    }
    
    .about__gradient {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        min-height: 196px;
        width: 100%;
    }
    
    .about__gradient-content {
        align-items: center;
        padding-top: 33px;
        padding-left: 50px;
    }
    
    .about__gradient-paragraph {
        max-width: 454px;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: #fff;
        margin-right: 140px;
    }
    
    .about__button {
        width: 175px;
        height: 60px;
        background: transparent;
        border: 3px solid #FF9900;
        font-size: 16px;
        line-height: 20px;
    }
    
    .about__card {
        min-height: 295px;
        border: 1px solid #CACACA;
        padding-top: 65px;
        padding-bottom: 65px;
        box-sizing: border-box;
        padding-left: 300px;
    }
    
    .about__card:not(:last-child) {
        margin-bottom: 28px;
    }
    
    .about__h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #333;
        margin-top: 0;
        margin-bottom: 7px;
    }
    
    .about__paragraph {
        max-width: 450px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #333;
        margin: 0;
    }
    
    .about__top {
        background-image: url(../img/order__svg__one.svg);
        background-repeat: no-repeat;
        background-position-x: 59px;
        background-position-y: 65px;
    }
    
    .about__bottom {
        background-image: url(../img/order__svg__two.svg);
        background-repeat: no-repeat;
        background-position-x: 59px;
        background-position-y: 65px
    }
    /* working */
    
    .working__h2 {
        margin-bottom: 48px;
    }
    
    .working__list {
        margin-bottom: 46px;
    }
    
    .working__button {
        border: none;
        background-color: #fff;
        cursor: pointer;
        transition: color .3s ease;
        line-height: 22px;
        font-weight: normal;
        font-size: 18px;
        color: #333;
        margin-right: 86px;
        padding: 0;
    }
    
    .working__button:hover {
        color: #FF9900;
    }
    
    .working__button:active {
        color: #E1670E;
        outline: none;
    }
    
    .working__button:focus-visible {
        outline: 2px solid #FF9900;
    }
    
    .working__left {
        background-image: url(../img/working__right.jpg);
        background-repeat: no-repeat;
        background-size: 870px 460px;
        background-position-x: 900px;
        background-position-y: 7px;
    }
    
    .working__left__two {
        background-image: url(../img/working__left__two.jpg);
    }
    
    .working__left__three {
        background-image: url(../img/working__left__three.jpg);
    }
    
    .working__left__four {
        background-image: url(../img/working__left__four.jpg);
    }
    
    .working__h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #333;
        margin-top: 0;
        margin-bottom: 8px;
    }
    
    .working__descr {
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: #333;
        margin: 0;
        margin-bottom: 50px;
        max-width: 758px;
    }
    
    .working__button-one {
        box-sizing: border-box;
        padding: 20px 38px;
        font-size: 16px;
        line-height: 20px;
        margin-right: 28px;
    }
    
    .working__button-two {
        font-size: 16px;
        line-height: 20px;
        color: #333;
        background: transparent;
        width: 147px;
        height: 60px;
        border: 1px solid #333333;
        font-weight: normal;
    }
    
    .tabs-nav__btn--active {
        color: tan;
    }
    
    .tabs-item {
        display: none;
    }
    
    .tabs-item--active {
        display: block;
    }
    /* questions style*/
    
    .ui-state-active .questions__button {
        transform: rotate(45deg);
    }
    
    .questions__h2 {
        margin-bottom: 44px;
    }
    
    .questions__list {
        min-height: 554px;
    }
    
    .questions__item {
        padding-top: 30px;
        padding-bottom: 28px;
        border-top: 1px solid #CACACA;
        border-bottom: 1px solid #CACACA;
        flex-direction: column;
        display: flex;
        align-items: left;
        justify-content: space-between;
        transition: border-color .3s ease;
    }
    
    .questions__div {
        display: flex !important;
        background: none !important;
        justify-content: space-between;
        border: none;
        padding-left: 0 !important;
        padding: 0 !important;
        align-items: center;
    }
    
    .alert {
        display: none !important;
    }
    
    .questions__descr {
        border: 0;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        padding-left: 0 !important;
    }
    
    .questions__div span {
        display: none;
    }
    
    .questions__item:not(:first-child) {
        margin-top: -1px;
    }
    
    .questions__h3 {
        margin: 0;
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #333;
        transition: color .3s ease;
        height: 32px;
    }
    
    .questions__button {
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        padding: 10px;
        transition: background-color .3s ease;
        transition: transform .3s;
    }
    /* .questions__transform {
        transition: transform .3s;
        transform: rotate(45deg);
    } */
    
    .questions__path {
        transition: fill .3s ease;
    }
    
    .questions__item:hover {
        position: relative;
        z-index: 1;
        border-color: #FF9900;
        cursor: pointer;
    }
    
    .questions__item:hover .questions__h3 {
        color: #FF9900;
    }
    
    .questions__item:hover .questions__button path {
        fill: #fff;
    }
    
    .questions__item:hover .questions__button {
        background-color: #FF9900;
        cursor: pointer;
    }
    /* footer style */
    
    .footer__h2 {
        color: #CACACA;
        font-weight: normal;
        font-size: 48px;
        line-height: 59px;
        margin-bottom: 23px;
    }
    
    .footer__container {
        padding-top: 50px;
        max-width: 1810px;
    }
    
    .footer {
        background: #222222;
        min-height: 594px;
    }
    
    .footer__left {
        margin-right: 350px;
    }
    
    .footer__img {
        margin-bottom: 15px;
    }
    
    .footer__list {
        margin-bottom: 90px;
    }
    
    .footer__item {
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;
        color: #CACACA;
    }
    
    .footer__item-link {
        color: inherit;
        text-decoration: none;
        transition: color .3s ease;
    }
    
    .footer__item-link:hover {
        color: #FF9900;
    }
    
    .footer__item-link:active {
        color: #E1670E;
    }
    
    .footer__item-link:focus-visible {
        outline: 2px solid #FF9900;
    }
    
    .footer__link {
        display: block;
    }
    
    .footer__li:not(:last-child) {
        margin-right: 25px;
    }
    
    .footer__svg {
        cursor: pointer;
    }
    
    .footer__svg:hover path {
        fill: #FF9900;
    }
    
    .footer__link:focus {
        outline: 2px solid #FF9900;
    }
    
    .footer__link:active path {
        fill: #E1670E;
    }
    
    .footer__link:active {
        outline: none;
    }
    
    .footer__input {
        background: #414141;
        border: none;
        margin-bottom: 25px;
        min-height: 60px;
        padding-left: 24px;
        padding-top: 8px;
        box-sizing: border-box;
        cursor: pointer;
    }
    
    .footer__input:hover,
    .footer__input:focus-visible,
    .footer__input:active {
        background-color: #666;
        outline: none;
    }
    
    .footer__textarea {
        resize: none;
        background: #414141;
        border: none;
        padding-top: 22px;
        padding-left: 24px;
        margin-bottom: 30px;
    }
    
    .footer__textarea:hover,
    .footer__textarea:focus-visible,
    .footer__textarea:active {
        background-color: #666;
        outline: none;
    }
    
    .footer__input::placeholder,
    .footer__textarea::placeholder {
        color: #CACACA;
    }
    
    .footer__form {
        flex-direction: column;
        min-width: 570px;
    }
    
    .footer__right {
        margin-right: 236px;
    }
    
    .footer__button {
        padding: 20px 53px;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin-right: 17px;
    }
    
    .footer__checkbox {
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
    }
    
    .footer__label {
        color: #CACACA;
    }
    
    .footer__text {
        max-width: 363px;
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: #fff;
        padding-top: 84px;
    }